@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700&display=swap&subset=cyrillic');

html, body, #root {
    width: 100vw;
    overflow-x: hidden;
}
.serch-header-input input::placeholder {
  font-size: 20px;
}

input::placeholder {
  font-family: 'Manrope', sans-serif;
}
.ant-input,
.ant-input-password input {
  font-family: 'Manrope', sans-serif !important;
  line-height: normal !important;
}
.ant-form-item-explain-error {
  font-family: 'Manrope', sans-serif;
  color: #ff4d4f; 
  line-height: 1.5;
}
.ant-select.ant-select-in-form-item {
    width: 40%;
}