@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700&display=swap&subset=cyrillic');

html, body, #root {
    width: 100vw;
    overflow-x: hidden;
}
.serch-header-input input::placeholder {
  font-size: 20px;
}

input::placeholder {
  font-family: 'Manrope', sans-serif;
}

.input-disabled {
  background-color: #fff !important;
  color: #000 !important;
  border-color: gray !important;
}

.ant-input,
.ant-input-password input {
  font-family: 'Manrope', sans-serif !important;
  line-height: normal !important;
}
.ant-form-item-explain-error {
  font-family: 'Manrope', sans-serif;
  color: #ff4d4f; 
  line-height: 1.5;
}
.ant-select.ant-select-in-form-item {
  width: 40%;
}
:where(.css-dev-only-do-not-override-pjilya).ant-list-split .ant-list-item {
  border-color: gray;
}
:where(.css-dev-only-do-not-override-pjilya).ant-list-split .ant-list-item:last-child{
  border-block-end: 1px solid rgba(5, 5, 5, 0.06);
  border-color: gray;
}
:where(.css-dev-only-do-not-override-pjilya).ant-drawer .ant-drawer-body{
  padding-top: 0%;
}
:where(.css-dev-only-do-not-override-pjilya).ant-layout-sider-light .ant-layout-sider-trigger {
    margin-bottom: 13px;
}
:where(.css-dev-only-do-not-override-pjilya).ant-card .ant-card-body {
    padding: 16px;
}
/* приховати горизонтальний скрол */
.scrollbar-none::-webkit-scrollbar {
  display: none;
}
.scrollbar-none {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.burger:where(.css-dev-only-do-not-override-pjilya).ant-btn.ant-btn-icon-only .anticon {
    font-size: 40px;
}