//index.scss  
@tailwind base;
@tailwind components;
@tailwind utilities;

.child-category-row {
  background-color: #e0f7f9 !important;
  /* світлобірюзовий */
}

.form-container {
  @apply rounded-[15px] border-2 border-blue2 bg-white;
}

.form-title {
  @apply w-full font-manrope font-semibold text-[32px] leading-normal text-center text-black mb-0;
}

.form-label {
  @apply text-black font-manrope text-[18px] font-medium leading-normal;
}

.form-input {
  @apply flex p-[10px] justify-between items-center self-stretch rounded-xl border border-gray text-gray placeholder:text-g font-manrope text-[16px] font-medium leading-normal;
}

/* Ant styles*/
.ant-form-item {
  margin-bottom: 0;
  width: 100%;
}

.ant-select-selector {
  /* all: unset !important; */
  @apply flex p-[15px] justify-between items-center rounded-xl border-gray text-gray placeholder:text-g font-manrope text-[16px] font-medium leading-normal !important;
  width: 100%;
  box-sizing: border-box;
  cursor: pointer;
}