//index.scss  
@use './styles/_variables.scss' as *;
@tailwind base;
@tailwind components;
@tailwind utilities;

.child-category-row {
  background-color: #e0f7f9 !important;
  /* світлобірюзовий */
}

.form-container {
  @apply rounded-[15px] gradient-border bg-white;
}

 .form-title{
  @apply text-center font-manrope text-[24px] font-semibold leading-normal text-black mb-[16px];
}

.form-label {
  @apply text-black font-manrope text-[18px] font-medium leading-normal;
}

.form-input {
  @apply flex p-[10px] justify-between items-center self-stretch rounded-xl border border-gray text-gray placeholder:text-gray font-manrope text-[14px] font-medium leading-normal;
}

.btn-pink {
  @apply p-[10px] bg-pink rounded-xl border-pink w-full h-[49px] text-[20px] text-white font-semibold;
}

/* Ant styles*/
.ant-form-item {
  margin-bottom: 12px;
}

/* for phone number */
.ant-select-selector {
  /* all: unset !important; */
  @apply flex p-[15px] justify-between items-center rounded-xl border-gray text-gray placeholder:text-gray font-manrope text-[14px] font-medium leading-normal !important;
  border: none !important;
  box-shadow: none !important;
  padding: 0px !important;
  color: black !important;
}

.ant-input-affix-wrapper.ant-input-borderless {
  padding: 0 !important;
}

.remember-button {
  @apply flex justify-center items-center p-[15px] sm:mt-[20px] xs:mt-[20px] gap-[12px] w-full max-w-[100%] h-[49px] bg-pink rounded-[15px] shadow-none border-none;
}

.remember-button-text {
  @apply font-manrope font-semibold text-[25px] leading-[33px] text-beige2 text-center;
}

.remember-photo-button{
   @apply  flex justify-center items-center p-[15px] sm:mt-[20px] xs:mt-[20px] gap-[12px] w-[260px] h-[49px] rounded-[15px] shadow-none border-gray;
}
.gradient-border {
  position: relative;
  border-radius: 15px;
  z-index: 0;

  &::before {
    content: '';
    position: absolute;
    inset: 0;
    padding: 2px;
    background: linear-gradient(149.91deg, $blue2 0%, $light-purple 100%);
    border-radius: inherit;

    -webkit-mask:
      linear-gradient(#fff 0 0) content-box,
      linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;

    mask:
      linear-gradient(#fff 0 0) content-box,
      linear-gradient(#fff 0 0);
    mask-composite: exclude;

    z-index: -1;
  }
}
.nav-wrapper {
  @apply relative bg-white;
}

.nav-inner {
  @apply max-w-6xl mx-auto relative;
}
.serch-header-input{
  @apply flex p-[5px] pl-[15px] h-12 w-[660px] justify-between items-center self-stretch rounded-xl border-[1px] border-black text-gray placeholder:font-manrope leading-normal  !important;
}
.title{
  @apply  text-center line-clamp-2 min-h-[54px] font-manrope font-medium text-[30px] bg-gradient-to-r from-blue2 to-blueLight bg-clip-text text-transparent;
}
:where(.css-dev-only-do-not-override-1dlzvkm) a:hover {
    color: $pink2 !important;
}
/* глобально для всіх link-кнопок */
:where(.css-dev-only-do-not-override-kf1k5b).ant-btn-color-link.ant-btn-variant-link {
    color: $pink !important;
}
:where(.css-dev-only-do-not-override-kf1k5b).ant-btn-color-link.ant-btn-variant-link:not(:disabled):not(.ant-btn-disabled):hover {
  color: $pink2 !important; /* hover */
}
:where(.css-dev-only-do-not-override-kf1k5b) a:hover {
    color: $pink2 !important;
}