// loginUserGradients.module.scss
@import '../../styles/_variables.scss';

.loginPage__gradient {
    position: absolute;
    width: 40%;
    height: 100%;
    left: 40%;
    top: 0px;
    background: linear-gradient(270deg, rgba(217, 217, 217, 0) 2.09%, $beige2 100%);
    z-index: 2;
} 
