//_variables.scss
// Кольори
$beige2: #FFF7F3;
$pink: #E56B93;
$pink2: #8A0149;
$blue2: #1A3D83;
$gray: #666666;
$light-purple:#8AA8D2;

// Шрифти
$font-manrope: 'Manrope', sans-serif;

// Радіуси
$radius-xl: 15px;

// Брейкпоінти
$breakpoint-xs: 320px;
$breakpoint-sm: 640px;
$breakpoint-md: 768px;
$breakpoint-lg: 1024px;
$breakpoint-xl: 1280px;
$breakpoint-2xl: 1536px;
$breakpoint-center-lg: 1080px;
$breakpoint-center-xl: 1350px;
$breakpoint-full-xl: 1920px; 