.authFormContainer {
  position: absolute;
  left: 188px;
  top: 183px;
  width: 574px;
  height: 710px;
  background: #fff;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px 60px;
  gap: 37px;
  box-shadow: 0 4px 24px 0 rgba(0,0,0,0.08);
  border-width: 2px;
  border-style: solid;
  border-image: linear-gradient(149.91deg, #1A3D83 0%, #8AA8D2 100%) 1;
}

.authFormTitle {
  width: 454px;
  height: 44px;
  font-family: 'Manrope', sans-serif;
  font-size: 32px;
  font-weight: 600;
  line-height: 44px;
  color: #000;
  text-align: center;
}

.authFormInner {
  width: 454px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.authFormError {
  color: #ef4444;
  margin-bottom: 8px;
  text-align: center;
}

.authFormFooter {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 454px;
  height: 27px;
  gap: 19px;
  margin-top: 8px;
}

.rectangle7Bg {
  position: absolute;
  width: 1158px;
  height: 1080px;
  left: 762px;
  top: 0px;
  background: linear-gradient(270deg, rgba(217, 217, 217, 0) 2.09%, #FFF7F3 100%);
  z-index: 20;
}

.flowerBg {
  position: absolute;
  top: -112px;
  left: 762px;
  width: calc(100vw - 762px);
  height: 1304px;
  object-fit: cover;
  z-index: 1;
}

.authInputWrapper {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  gap: 38px;
  width: 454px;
  height: 52px;
  border: 1px solid #666666;
  border-radius: 15px;
  background: #fff;
}

.authInput {
  border: none;
  outline: none;
  background: transparent;
  font-size: 16px;
  font-family: 'Manrope', sans-serif;
  font-weight: 500;
  color: #666666;
  width: 306px;
  height: 22px;
  margin: 0;
  padding: 0;
}