@use '../../styles/_variables.scss' as *;
@use '../../styles/_mixins.scss' as *;

.googleButton {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 15px;
  gap: 8px;
  width: 454px;
  height: 57px;
  background: $pink2;
  border-radius: $radius-xl;
  cursor: pointer;
  border: none;
  transition: background 0.2s;
}

.googleButton:hover {
  background: darken($pink2, 10%);
}

.googleButtonIcon {
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.googleButtonText {
  width: 290px;
  height: 27px;
  font-family: $font-manrope;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 27px;
  color: $beige2;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
