@use '../../styles/_variables.scss' as *;
@use '../../styles/_mixins.scss' as *;

.googleButton {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 15px;
  gap: 8px;
  width: 100%;
  height: 49px;
  background: $pink2;
  border-radius: $radius-xl;
  cursor: pointer;
  border: none;
}

.googleButton:hover {
  background-color: #58042c;
}

.googleButtonIcon {
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.googleButtonText {
  width: 290px;
  height: 27px;
  font-family: $font-manrope;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 27px;
  color: $beige2;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  // Зменшуємо розмір шрифту на мобільних
  @media (max-width: 768px) {
    font-size: 16px;
    line-height: 22px;
    width: auto; // щоб адаптувати ширину під екран
  }

  @media (max-width: 480px) {
    font-size: 14px;
    line-height: 20px;
  }
}
